#!/bin/bash
 
mkdir -p /config/cloud
 
cat << 'EOF' > /config/cloud/startup-script.sh
 
#!/bin/bash
 
echo "Executing /config/cloud/startup-script.sh at"
date '+%Y-%m-%d %H:%M:%S'
echo "log can be found at /var/log/startup-script.log"
 
LOG_FILE=/var/log/startup-script.log
if [ ! -e $LOG_FILE ]
then
     touch $LOG_FILE
     exec &>>$LOG_FILE
else
    #if file exists, exit as only want to run once
    exit
fi
 
function READY() {
    echo "BigIP waiting ..."
    bigstart_wait mcpd ready
    while ! tmsh show sys mcp-state field-fmt | grep -qE 'phase.+running' || pidof -x mprov.pl >/dev/null 2>&1; do sleep 1; done
    #if [[ ! $(getdb Provision.CPU.asm) == 0 ]]; then perl -MF5::ASMReady -e '$|++; do {print "waiting for asm...\n"; sleep(1)} while !F5::ASMReady::is_asm_ready()'; fi
    echo "BigIp ready."
}
 
READY
echo "Going to Sleep"
date '+%Y-%m-%d %H:%M:%S'
sleep 2m
date '+%Y-%m-%d %H:%M:%S'
echo "Starting.."
echo "Setting password"
tmsh modify auth user admin password ${PASSWORD}
echo "Password has been set"
 
echo "Modifying mgmt interface"
tmsh modify sys db provision.managementeth value eth2
echo "mgmt interface now eth2"
 
mkdir -p /etc/ts/
mkdir -p /etc/ts/common/
 
echo "Modifying mgt iface interface"
cat <<EOT > /etc/ts/common/image.cfg
[4000]
iface0=eth2
iface1=eth1
DefaultHostsFile=/ts/install/hosts.4000
[4100]
iface0=eth0.11
iface1=eth0.12
DefaultHostsFile=/ts/install/hosts.4100
EOT
echo "mgmt interface iface now eth2"
 
echo "Rebooting device for changes to take affect"
reboot
 
echo "Script Finished at"
date '+%Y-%m-%d %H:%M:%S'
EOF
 
chmod 755 /config/cloud/startup-script.sh
nohup /config/cloud/startup-script.sh &
